body {
  margin: 0px;
}

circle {
  opacity: 0.3;
}

text {
  font-family: sans-serif;
}

.navbar-brand {
  font-size: 2em !important;
}

.tick text {
  font-size: 1.5em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.domain {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1.8em;
  fill: #8E8883;
}

strong {
  display: inline-block;
  min-width: 85px
}
